<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	
	 <transmission name="wheel_left_trans">
		<type>transmission_interface/SimpleTransmission</type>
		<actuator name="wheel_left_motor" >
			<mechanicalReduction>1.0</mechanicalReduction>
		</actuator>
		<joint name="wheel_left_joint" >
			<hardwareInterface>VelocityJointInterface</hardwareInterface>
		</joint>
	</transmission>

	<transmission name="wheel_right_trans">
		<type>transmission_interface/SimpleTransmission</type>
		<actuator name="wheel_right_motor" >
			<mechanicalReduction>1.0</mechanicalReduction>
		</actuator>
		<joint name="wheel_right_joint" >
			<hardwareInterface>VelocityJointInterface</hardwareInterface>
		</joint>
	</transmission>
	  
</robot>
